* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.login-page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #254366, #1e88e5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 360px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 5px;
  color: #0b1c2d;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background: #1069b8;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background: #8abaf0;
}

.register-text {
  margin-top: 15px;
  font-size: 14px;
  color: black;
}

.register-text a {
  color: #1e88e5;
  text-decoration: none;
  font-weight: bold;
}
