* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #ecf0f5;
}

.admin-layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.admin-sidebar {
  width: 230px;
  min-width: 230px;
  background: #0b1c2d;
  color: white;
  padding: 20px;
}

.admin-title {
  font-size: 18px;
  margin-bottom: 30px;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-list li {
  padding: 12px;
  cursor: pointer;
}

.menu-list li.active,
.menu-list li:hover {
  background: #1e88e5;
}

.admin-main {
  flex: 1;
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  width: 100%;
}

.admin-header {
  width: 200%;
  height: 60px;
  background: #0b1c2d;
  color: white;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-area button {
  margin-left: 10px;
  background: #e74c3c;
  border: none;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.admin-content {
  flex: 1;
  width: 200%;
  padding: 20px;
  background: #ecf0f5;
  overflow-y: auto;
}

.box {
  width: 100%;      
  background: rgb(117, 160, 224);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  color; black
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #b39f9f;
  border-radius: 4px;
}

.btn-save {
  margin-top: 15px;
  background: #55e691;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: rgb(117, 160, 224);
  color: black;
}

th {
  background: rgb(117, 160, 224);
  color: black;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
  color: black;
}

td button {
  margin: 0 3px;
  padding: 6px 10px;
  background: #121213;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}